{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "plugins": [
        "flowtype"
    ],
    "rules": {
        "react/jsx-filename-extension": "off",
        "react/require-default-props": "off",
        "quotes": ["error", "double"],
        "indent": ["error", "tab"],
        "react/jsx-indent": ["error", "tab"],
        "no-tabs": 0
    }
}
