{
	"extends": "airbnb",
	"parser": "babel-eslint",
	"plugins": ["react", "jsx-a11y", "import", "flowtype"],
	"rules": {
		"react/jsx-filename-extension": "off",
		"react/require-default-props": "off",
		"quotes": ["error", "double"],
		"indent": [2, "tab"],
		"no-tabs": 0,
		"react/jsx-indent": [2, "tab"],
		"comma-dangle": ["error", "never"]
	}
}
